@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}

<h1>Tiny Clothes</h1>
<p>Tiny clothes for tiny things, but not babies.</p>

<div class="card" style="width: 18rem;">
    <img src="~/img/Kitty.jpg" class="card-img-top" alt="Cat wearing cat sweater">
    <div class="card-body bg-dark">
        <h5 class="card-title text-light">Kitty Sweater</h5>
        <p class="card-text text-light">Red kitty sweater with white designs to help keep your kitty warm during winter!</p>
        <a href="#" class="btn btn-primary text-light">Buy Now!</a>
    </div>
</div>
<br />

<p>
    We do not accept returns or give refunds at this time.
    We do not guarantee your baby will/won't be allergic to the clothes.
</p>
