@model Clothing
@{
    ViewData["Title"] = "Add new Clothing product";
}

<h1>Add new clothing</h1>

<form method="post">

    <input class="form-control form-control-lg" type="text" asp-for="Title" placeholder="Title" />
    <span asp-validation-for="Title"></span>
    <br />
    <br />

    <input class="form-control form-control-lg" type="text" asp-for="Description" placeholder="Description" />
    <span asp-validation-for="Description"></span>
    <br />
    <br />

    <input class="form-control form-control-lg" type="text" asp-for="Price" placeholder="Price" />
    <span asp-validation-for="Price"></span>
    <br />
    <br />

    <input class="form-control form-control-lg" type="text" asp-for="Type" placeholder="Type" />
    <span asp-validation-for="Type"></span>
    <br />
    <br />

    <input class="form-control form-control-lg" type="text" asp-for="Size" placeholder="Size" />
    <span asp-validation-for="Size"></span>
    <br />
    <br />

    <input class="form-control form-control-lg" type="text" asp-for="Color" placeholder="Color" />
    <span asp-validation-for="Color"></span>
    <br />
    <br />

    <input class="btn btn-primary" type="submit" value="Add Clothing" />
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    @* These scripts are included using the partial attribute above
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>   
    *@
}
