@model IEnumerable<Clothing>
@inject IHttpContextAccessor  http

@{
    ViewData["Title"] = "List Clothing Inventory";
}

<h1>Clothing Inventory</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
<p>
    <a asp-action="Search" asp-controller="Clothing">Search</a>
</p>
<p>
    <a asp-action="Add">Create New</a>
</p>

@await Html.PartialAsync("_DisplayClothes", Model)

@* Print page numbers *@
<ul class="pagination">
    @for (int i = 1; i <= (int)ViewData["MaxPage"]; i++)
    {
        if (i != Convert.ToInt32(ViewData["CurrentPage"]))
        {
            <li class="page-item">
                <a class="page-link" asp-action="InventoryList" asp-route-page="@i">@i</a>
            </li>
        }
        else
        {
            <li class="page-item active">
                <a class="page-link" href="#">@i</a>
            </li>
        }
    }
</ul>
